html {
    overflow-y: scroll;
}

table {
    margin-bottom: 0 !important;
}

ul {
    padding: 0 !important;
    margin: 5px 0 5px 0 !important;
}

.form-inline > * {
    margin-right: 25px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

input[type="number"] {
    width: 65px !important;
}

.form-group span.glyphicon {
    padding-top: 7px;
    padding-bottom: 7px;
}

hr {
    margin: 2px 0 20px 0;
}

tr td:nth-child(1) {
    text-align: center;
}

tr th:nth-child(1) {
    text-align: center;
}

tr td:nth-child(3) {
    text-align: center;
}

tr th:nth-child(3) {
    text-align: center;
}

tr td:nth-child(4) {
    text-align: center;
}

tr th:nth-child(4) {
    text-align: center;
}

tr td:nth-child(8) {
    text-align: center;
}

tr th:nth-child(8) {
    text-align: center;
}
